<span ng-init="init()"></span>

<div ng-if="!loaded" style="padding-top: 20px;">
  <div class="alert alert-info">
    <h1>Loading...</h1>
  </div>
</div>

<div ng-if="hasError" style="padding-top: 20px;">
  <div class="alert alert-danger">
    <h1>Error</h1>
    <hr>
    <p>{{errors}}</p>
  </div>
</div>

<div ng-if="loaded && !hasError" id="content-wrapper">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb" style="background-color: transparent;">
    <div class="breadcrumb-item active" style="font-size:20px; color:#4F4F4F;padding-top:20px;">
      <i class="fas fa-chevron-right"></i> 
      {{currentFlight}}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{from}} <i class="fas fa-fighter-jet" style="color:#F5A623;"></i> {{to}}
    </div>
  </ol>

  <!-- Icon Cards-->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3" ng-repeat="meal in meals">
      <div class="card o-hidden h-100" style="background-color:#fff ;border:none; box-shadow: 3px 3px 11px 0px rgba(222,222,222,1);" ng-click="selectMeal(meal)">
        <div class="card-body">
          <div class="card-body-icon" style=" opacity: 100;">
            <img src="img/fish.png">
          </div>
          <h3 class="mr-5">{{meal.mealCode}}</h3>
          <p>{{meal.meal}}</p>
        </div>
        <!-- <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fas fa-angle-right"></i>
              </span>
            </a> -->
      </div>
    </div>
    <!-- <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card  o-hidden h-100" style="background-color:#fff ;border:none; box-shadow: 3px 3px 11px 0px rgba(222,222,222,1);">
        <div class="card-body">
          <div class="card-body-icon" style="    opacity: 100;">
            <img src="img/steak.png">
          </div>
          <h3 class="mr-5">15%</h3>
          <p>Total waste of <strong>set B </strong></p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card  o-hidden h-100" style="background-color:#fff ;border:none; box-shadow: 3px 3px 11px 0px rgba(222,222,222,1);">
        <div class="card-body">
          <div class="card-body-icon" style="    opacity: 100;">
            <img src="img/broccoli.png">
          </div>
          <h3 class="mr-5">8%</h3>
          <p>Total waste of <strong>set C </strong></p>
        </div>

      </div>
    </div> -->
  </div>

  <div ng-if="mealSelected == null" class="alert alert-warning">
    <h1>No meal selected</h1>
    <hr>
    <p>Please select a meal above.</p>
  </div>

  <div ng-if="mealSelected != null">
    <ol class="breadcrumb" style="background-color: transparent;">
      <div class="breadcrumb-item active" style="font-size:20px; color:#4F4F4F;padding-top:20px;">
          <i class="fas fa-chevron-right"></i>  {{mealSelected.mealCode}} - {{mealSelected.meal}}
      </div>
    </ol>
    
    <div class="row">
      <!-- Area Chart Example-->
      <div class="col-md-8">
        <div class="card ">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Relative Wastage</div>
          <div class="card-body">
            <canvas id="myPieChart" width="100%" height="50%"></canvas>
          </div>
        </div>
      </div>
    
      <!-- DataTables Example -->
      <div class="col-md-4">
        <div class="card ">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" ng-repeat="(foodName, percentage) in wastage[mealSelected.mealCode]">
              <h2>{{percentage}}%</h2>
              <h5>{{foodName}}</h5>
            </li>
          </ul>
      </div>
    </div>
  </div>
  
</div>
<!-- /.content-wrapper -->