<div id="content-wrapper" ng-init="init()">

  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb" style="background-color: transparent;">
      <div class="breadcrumb-item active" style="font-size:20px; color:#4F4F4F;padding-top:20px;">
        <i class="fas fa-chevron-right"></i>
        Overview
      </div>
    </ol>

    <!-- Area Chart Example-->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-chart-area"></i>
        Wastage per day
      </div>
      <div class="card-body">
        <canvas id="myAreaChart" width="100%" height="30"></canvas>
      </div>
      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>

    <div class="row">
      <div class="col-lg-8">
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-bar"></i>
            Wastage per month
          </div>
          <div class="card-body">
            <canvas id="myBarChart" width="100%" height="47"></canvas>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-pie"></i>
            What was wasted the most</div>
          <div class="card-body">
            <canvas id="myPieChart" width="100%" height="99"></canvas>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- /.content-wrapper -->

<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-bar-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>